nav {
  width: 100%;
  height: 20px;
  text-transform: uppercase;
}

nav a:hover {
  color: black;
  position: relative;

}

nav a::after {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  top: 0;

}

nav ul {
  float: right;
  padding: 20px;
}

nav ul li {
  float: left;
  list-style: none;
  z-index: 999;
}

/* Style text inside navigation */
nav ul li a {
  display: block;
  font-family: 'Oswald', sans-serif;
  color: #1e808a;
  font-size: 20px;
  font-weight: 400;
  padding: 0 20px;
  text-decoration: none;
  position: relative;
}

/*Drop Down Menu - Hidden by Default*/
nav ul li ul {
  display: none;
  background-color: #c9c9c9;
  padding: 10px;
  border-radius: 0 0 4px 4px;
  z-index: 1000; /* One more than the header. */
}

nav ul li:hover ul {
  display: block;
  background-color: #c9c9c9;
}

nav ul li ul a {
  padding: 8px 14px;
}

nav ul li ul img {
  border: 1px solid black;
  border-radius: 0;
  padding: 5px;
  width: 150px;
}

nav ul li ul p {
  font-family: 'Oswald', sans-serif;
  color: #1e808a;
  font-size: 12px;
}

nav input {
  float: right;
  padding: 6px;
  margin-top: 20px;
  margin-left: 16px;
  border: none;
  font-size: 16px;
}


/* Style text inside navigation */
.navbar ul li a {
  display: block;
  font-family: 'Oswald', sans-serif;
  color: #1e808a;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
}

/*Drop Down Menu - Hidden by Default*/
.navbar ul li ul {
  display: none;
  padding: 2px;
  border-radius: 0 0 4px 4px;
}

.navbar ul li:hover ul {
  display: block;
  background-color: #c9c9c9;
}

.navbar ul li ul a {
  padding: 8px 14px;
}

.navbar ul li ul img {
  border: 1px solid black;
  border-radius: 0;
  padding: 5px;
  width: 150px;
}

.navbar ul li ul p {
  font-family: 'Oswald', sans-serif;
  color: #1e808a;
  font-size: 12px;
}

.navbar input {
  float: right;
  padding: 6px;
  margin-top: 20px;
  margin-left: 16px;
  border: none;
  font-size: 16px;
}
