* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 100em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: calc(100vh - 2 * 4vw); }


.header { grid-area: header; }
body { grid-area: body; }
.para {grid-area: para; }
.right { grid-area: right; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header'
  'body body body right right right'
  'body body body right right right'
  'footer footer footer footer';
  grid-gap: 10px;
}

body .title {
  display: grid;
  font-size: 36px;
  right: 5px;
}

.shawn {
  width: 30%;
  padding: 4px;
}

body p {
  font-size: 30px;
  margin-left: 3px;
}

.right, .tiles {
  float: right;
  position: relative;
  top: 5px;
  right: 5px;
  padding: 10px;
  height: 75px;
  width: 75px;
}

.right h1 {
  position: relative;
  float: right;
  right: 70px;
  top: 4px;
  color: black;
  font-size: 18px;
}

.footer {
  float: left;
  font-size: 12px;
}

/* Header Styling */
.header {
  font-family: 'Oswald', sans-serif;
  text-align: right;
  background: #cfcfcf;
  font-size: 14px;
  padding: 8px;
  color: #8a8a8a;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

/* Top Links: Manage Account, Help&Support */
.top-links {
  text-decoration: none;
  color: inherit;
  padding: 6px;
}

.top-links:hover {
  color: #424141;
}



/* Navigation Bar */
.logo {
  margin-left: 8px;
  padding-top: 5px;
  height: 10rem;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #818282;
  font-size: 20px;
  text-transform: uppercase;
}

/* Style the navigation bar links */
.navbar a {
  position: relative;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  top: 26px;
}

/* Change color on hover */
.navbar a:hover {
  color: #0ad1d1;
  position: relative;

}

.navbar a::after {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  top: 0;
}


/* Style the search field */
.search-container {
  box-sizing: border-box;
  position: relative;
  float: right;
  top: 13px;
  padding: 10px;
}

form.search-container input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: right;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search-container button {
  float: right;
  width: 20%;
  padding: 10px;
  background: #0ad1d1;
  color: white;
  font-size: 17px;
  border: 1px solid grey;

  cursor: pointer;
}

form.search-container button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Right Column Images */
.right {
  position:relative;
  float: right;
  width:33.33%;
  padding: 10px;
}


/* Images */
.ladygagaimg {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.ladygaga-title {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 30px;
}
