* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 100em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: calc(100vh - 2 * 4vw); }


.header { grid-area: header; }
body { grid-area: body; }
.para {grid-area: para; }
.right { grid-area: right; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header'
  'body body body right right right'
  'body body body right right right'
  'footer footer footer footer';
  grid-gap: 10px;
}

body .title {
  display: grid;
  font-size: 36px;
  right: 5px;
}

.shawn {
  width: 30%;
  padding: 4px;
}

body p {
  font-size: 30px;
  margin-left: 3px;
}

.right, .tiles {
  float: right;
  position: relative;
  top: 5px;
  right: 5px;
  padding: 10px;
  height: 75px;
  width: 75px;
}

.right h1 {
  position: relative;
  float: right;
  right: 70px;
  top: 4px;
  color: black;
  font-size: 18px;
}

.footer {
  float: left;
  font-size: 12px;
}

.header {
  font-family: 'Oswald', sans-serif;
  text-align: right;
  background: #cfcfcf;
  font-size: 14px;
  padding: 8px;
  color: #8a8a8a;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.header__logo {
  margin-left: 8px;
  padding-top: 5px;
  height: 10rem;
  display: block;
}

/* Top Links: Manage Account, Help&Support */
.top-links {
  text-decoration: none;
  color: inherit;
  padding: 6px;
}

.top-links:hover {
  color: #424141;
}

/* Navigation Header */
nav {
  width: 100%;
  height: 20px;
  text-transform: uppercase;
}

nav a:hover {
  color: black;
  position: relative;

}

nav a::after {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  top: 0;

}

nav ul {
  float: right;
  padding: 20px;
}

nav ul li {
  float: left;
  list-style: none;
  z-index: 999;
}

/* Style text inside navigation */
nav ul li a {
  display: block;
  font-family: 'Oswald', sans-serif;
  color: #1e808a;
  font-size: 20px;
  font-weight: 400;
  padding: 0 20px;
  text-decoration: none;
  position: relative;
}

/*Drop Down Menu - Hidden by Default*/
nav ul li ul {
  display: none;
  background-color: #c9c9c9;
  padding: 10px;
  border-radius: 0 0 4px 4px;
  z-index: 1000; /* One more than the header. */
}

nav ul li:hover ul {
  display: block;
  background-color: #c9c9c9;
}

nav ul li ul a {
  padding: 8px 14px;
}

nav ul li ul img {
  border: 1px solid black;
  border-radius: 0;
  padding: 5px;
  width: 150px;
}

nav ul li ul p {
  font-family: 'Oswald', sans-serif;
  color: #1e808a;
  font-size: 12px;
}

nav input {
  float: right;
  padding: 6px;
  margin-top: 20px;
  margin-left: 16px;
  border: none;
  font-size: 16px;
}

.search-container input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 20px;
  margin-right: 16px;
  margin-bottom: 4px;
  font-size: 17px;
  border: 1px solid #ddd;
}

/* Right Column Images */
.right {
  position:relative;
  float: right;
  width:33.33%;
  padding: 10px;
}


/* Images */
.ladygagaimg {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.ladygaga-title {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 30px;
}
